---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>


{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1159">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">The Best Care Servicing In Town</span>
            <h1 class="cs-title">We Are Qualified And Professional</h1>
            <p class="cs-text">
                Driven by passion, we specialize in transforming Mustangs into high-performance machines. From power upgrades to custom bodywork, we bring your dream Mustang to life.
            </p>
            <a href="" class="cs-button-solid">Explore Services</a>
        </div>
        <!-- Person, to make your own crop of a person, visit https://www.remove.bg to do it for you -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-hero-m.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-hero2.png">
        </picture>
    </div>

    <!--SVG V Graphic-->
    <img class="cs-graphic" decoding="async" src="/assets/svgs/v-graphic2.svg" alt="graphic" width="1920" height="163" aria-hidden="true">

    <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg" alt="garage" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->        

<section id="services-1191">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">We Provide Quality Auto Performance Services</h2>
            <p class="cs-text">
                We provide expert auto performance services to enhance your vehicle’s power, handling, and efficiency. Whether you want more horsepower, better suspension, or an exhaust upgrade, we deliver precision and quality every time.
            </p>
        </div>
        <!--Placed in a wrapper div so we can position the car absolutely inside the container to be centered in the middle of the list on desktop-->
        <div class="cs-wrapper">
            <!--Car-->
            <picture class="cs-image">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/svgs/corv.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/svgs/corv.svg">
                <img loading="lazy" decoding="async" src="/assets/svgs/corv.svg" alt="car" width="510" height="193" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/turbo.svg"
                                loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Forced Induction</h3>
                        <p class="cs-item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brake-red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Brakes</h3>
                        <p class="cs-item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/air-conditioner-red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Engine Swaps</h3>
                        <p class="cs-item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="/assets/svgs/nit.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Nitrous System</h3>
                        <p class="cs-item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/alloy-wheel-red.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Suspension</h3>
                        <p class="cs-item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/contamination-red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Exhaust</h3>
                        <p class="cs-item-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="" class="cs-button-solid">Get In Touch</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-1163">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img1.jpg" alt="appliance" width="630" height="390">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img2.jpg" alt="appliance" width="461" height="300">
            </picture>
            <!--Splash Graphic-->
            <img class="cs-graphic cs-graphic1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/splash-grey.svg" alt="splash" width="1154" height="505" aria-hidden="true">
            <!--Tire Mark-->
            <img class="cs-graphic cs-graphic2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1085" height="322" aria-hidden="true">
            <div class="cs-box">
                <span class="cs-number">15+</span>
                <span class="cs-desc">Years In Business</span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">Quality With The Best Standards</h2>
            <p class="cs-text">
                Our skilled technicians provide a full range of services, including diagnostics, fluid flushes, engine replacements, oil changes, and complete vehicle overhauls.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">We work with all makes and models</li>
                <li class="cs-li">Trusted and endorsed by the community</li>
                <li class="cs-li">Equipped with the latest technology for accurate results</li>
                <li class="cs-li">Committed to exceptional quality and standards</li>
                <li class="cs-li">45+ Years of Experience</li>
            </ul>
            <a href="" class="cs-button-solid">See More</a>
        </div>
    </div>
</section>
                             
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1072">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Get Our Services</span>
                <h2 class="cs-title">Let’s Get You On The Road Faster. Schedule Now!</h2>
            </div>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Schedule Our Services</a>
                <a href="" class="cs-button-transparent">Contact Us</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="why-1166">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Stat Group-->
            <div class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/why-icon.svg" alt="icon" width="48" height="48" aria-hidden="true">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">500+</span>
                    <span class="cs-desc">Satisfied Clients</span>
                </div>
            </div>
            
            <!--Car-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/svgs/cobra.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/svgs/cobra.svg">
                <img loading="lazy" decoding="async" src="/assets/svgs/cobra.svg" alt="appliance" width="858" height="477">
            </picture>

            <!--Person, to make your own crop of a person, use https://www.remove.bg/ to remove the background of any image -->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7
                <source media="(min-width: 601px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                <img loading="lazy" decoding="async" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="appliance" width="438" height="588">
            </picture>

            <!--Stripe background-->
            <div class="cs-graphic-wrapper">
                <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1469" height="626" aria-hidden="true">
            </div>

        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Why Choose Us</h2>
            <p class="cs-text">
                Our team is dedicated to delivering exceptional auto services with precision and care. From diagnostics to complete overhauls, we’re committed to quality in every job.
            </p>
            <ul class="cs-list">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/247.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Daily Support</h3>
                        <p class="cs-li-text">
                            We’re here for you anytime, offering assistance to keep your vehicle running smoothly.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/members.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Trusted Professionals</h3>
                        <p class="cs-li-text">
                            Our team of experienced technicians is committed to delivering quality service you can rely on.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/clock-zoom.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Fast Turnaround</h3>
                        <p class="cs-li-text">
                            We value your time, providing quick and efficient service to get you back on the road as soon as possible.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1182">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We've Done</span>
            <h2 class="cs-title">Our Featured Gallery</h2>
        </div>
        <div class="cs-gallery">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img3.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img4.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img6.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img5.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img7.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img7.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img8.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img8.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img9.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img9.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img10.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img10.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img10.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img11.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img11.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img11.jpg" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img12.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img12.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img12.jpg" alt="picture" width="480" height="549">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1333">
    <div class="cs-container">
        <!--Form-->
        <form class="cs-form" id="cs-form-1333" name="Contact Form" method="post">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Make Appointment</h2>
            </div>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1333" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1333" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="number" id="phone-1333" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1333" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Schedule Appointment</button>
        </form>
        <div class="cs-content">
            <span class="cs-topper">Asked Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What types of performance upgrades do you offer?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer a variety of upgrades, including performance exhaust systems, cold air intakes, superchargers, suspension kits, and brake upgrades. Whether you're looking to improve horsepower, handling, or aesthetics, we have options tailored to your vehicle’s needs.                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                          Do I need to schedule an appointment for performance modifications?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, we recommend scheduling an appointment to ensure we have the right parts and time available for your modifications. You can book an appointment online or give us a call to reserve a spot.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I know which performance parts are right for my Mustang?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Our team is happy to help you choose the right upgrades based on your goals—whether that’s increasing speed, improving handling, or enhancing aesthetics. We'll work with you to find the best parts that suit your driving style and budget.                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I get an estimate before committing to a service?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely! We provide free, no-obligation estimates for all performance modifications. Simply let us know what you're interested in, and we'll provide you with a detailed breakdown of the costs.                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you offer warranties on performance parts?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, many of our performance parts come with manufacturer warranties. Additionally, we stand behind our work and offer a satisfaction guarantee on all installations. Be sure to ask about warranty details when you purchase your parts.                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}