---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Contact</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img1.jpg" alt="mechanic" width="542" height="608">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Auto Performance since 2000</span>
            <h2 class="cs-title">We're a Performance & Mechanic Shop</h2>
            <p class="cs-text">
                For over two decades, we’ve specialized in elevating vehicle performance with top-quality parts, expert service, and personalized attention. From routine maintenance to custom upgrades, our team is dedicated to helping you get the most out of your car on the street or track.
            </p>
            <ul class="cs-list">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are Mustangs specialists</li>
                <li class="cs-li">Our Technicians Are Highly Experienced Professionals</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Fast, Reliable Service</li>
            </ul>
            </div>
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1100-1112">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img8.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img8.jpg" alt="appliance" width="323" height="447">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img5.jpg" alt="appliance" width="305" height="441">
            </picture>
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-short.svg" alt="stripes" width="548" height="487" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Mission & Vision</span>
            <h2 class="cs-title">Full Throttle Performance Mission & Vision</h2>
            <p class="cs-text">
                Our skilled professionals handle everything from diagnostic tests and fluid services to engine replacements, oil changes, and complete vehicle overhauls. We’re committed to providing reliable, high-quality service for every vehicle.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Mission Statement</h3>
                    <p class="cs-li-text">
                        Our mission is to deliver exceptional customer service, continually develop our team, and embrace environmentally responsible practices. We aim to exceed expectations with every repair and interaction.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Our Vision</h3>
                    <p class="cs-li-text">
                        To lead the automotive industry by setting new standards in customer satisfaction and innovation. We are committed to excitement through forward-thinking solutions, effective problem-solving, and consistently surpassing our customers' expectations.
                </li>
            </ul>
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Get Our Services</span>
                <h2 class="cs-title">Let’s Get You On The Road Faster Than Before. Schedule Now!</h2>
            </div>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Schedule Our Services</a>
                <a href="" class="cs-button-transparent">Contact Us</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic3.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                
          
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1194">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/img11.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/img11.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/img11.jpg" alt="body shop" width="522" height="609" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What types of performance upgrades do you offer?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer a variety of upgrades, including performance exhaust systems, cold air intakes, superchargers, suspension kits, and brake upgrades. Whether you're looking to improve horsepower, handling, or aesthetics, we have options tailored to your vehicle’s needs.                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                          Do I need to schedule an appointment for performance modifications?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, we recommend scheduling an appointment to ensure we have the right parts and time available for your modifications. You can book an appointment online or give us a call to reserve a spot.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I know which performance parts are right for my Mustang?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Our team is happy to help you choose the right upgrades based on your goals—whether that’s increasing speed, improving handling, or enhancing aesthetics. We'll work with you to find the best parts that suit your driving style and budget.                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I get an estimate before committing to a service?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely! We provide free, no-obligation estimates for all performance modifications. Simply let us know what you're interested in, and we'll provide you with a detailed breakdown of the costs.                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you offer warranties on performance parts?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, many of our performance parts come with manufacturer warranties. Additionally, we stand behind our work and offer a satisfaction guarantee on all installations. Be sure to ask about warranty details when you purchase your parts.                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                         

    {% include 'components/cta.html' %}

{% endblock %}