/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary: #bd3636;
        --primaryLight: #F5F5F5;
        --secondary: #555555;
        --secondaryLight: #8d2121;
        --headerColor: #1a1a1a;
        --bodyTextColor: #555555;
        --bodyTextColorWhite: #F5F5F5;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-title {
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--headerColor);
        text-align: inherit;
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
    }

    // Button - can be replaced using CodeStitch's "Button" Stitches
    .cs-button-solid {
        z-index: 1;
        position: relative;
        display: inline-block;
        background-color: var(--primary);
        width: auto;
        padding: 0 (30/16rem);
        text-decoration: none;
        text-transform: uppercase;
        font-size: (16/16rem);
        line-height: (50/16em);
        font-weight: bold;

        // Transition Properties
        color: #000;
        transition: color 0.3s;
        transition-delay: 0.1s;
        text-align: center;

        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            background-color: #000;
            height: 100%;

            //Transition properties
            width: 0;
            transition: width 0.3s;
        }
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: (16/16rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* roboto-regular - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 400;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-700 - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 700;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-900 - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 900;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                transform: translate(-50%, -50%);
                opacity: 1;
            }

            .cs-moon {
                transform: translate(-50%, -150%);
                opacity: 0;
            }
        }
    }

    #dark-mode-toggle {
        display: block;
        position: absolute;
        bottom: (20/16rem);
        right: (90/16rem);
        width: (48/16rem);
        height: (48/16rem);
        background: transparent;
        border: none;
        overflow: hidden;
        padding: 0;
        z-index: 1000;

        img,
        svg {
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: (20/16rem);
            height: (20/16rem);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition:
                transform 0.3s,
                opacity 0.3s;
            fill: #fff;
        }

        .cs-sun {
            z-index: 1;
            // Transition property
            transform: translate(-50%, 100%);
            opacity: 0;
            transition:
                transform 0.3s,
                opacity 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        position: relative;
        transform: none;
        bottom: auto;
        right: auto;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
    /* reset margin and padding so there's no gap between the nav and the screen edges */
    margin: 0;
    padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
            #cs-navigation {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        &.scroll {
            #cs-navigation {
                &:after {
                    width: 100%;
                }
            }
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        border-bottom: 1px solid #484848;
        position: fixed;
        z-index: 10000;

        &:before {
            /* mobile nav overlay on open */
            content: "";
            width: 0%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            opacity: 0;
            position: absolute;
            display: block;
            top: 100%;
            right: 0;
            z-index: -11;
            transition:
                width 0.5s,
                opacity 0.3s;
        }

        &:after {
            /* on scroll overlay */
            content: "";
            width: 0%;
            height: 100%;
            background: #1a1a1a;
            opacity: 0.8;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
            transition:
                width 0.3s,
                opacity 0.3s;
        }

        &.cs-active {
            &:before {
                width: 100%;
                opacity: 1;
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleX(1);
                transition-delay: 0.2s;
            }

            .cs-li {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .cs-container {
            width: 100%;
            padding: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-logo {
            width: (147/16rem);
            height: auto;
            margin: 0 auto 0 0;
            padding: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                /* places the image to the left edge of the parent */
                object-position: left;
            }
        }

        .cs-toggle {
            width: (56/16rem);
            height: (56/16rem);
            margin: 0 0 0 auto;
            background-color: #484848;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: (16/16rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: #fafbfc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transform-origin: center;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            min-width: 70vw;
            height: 100vh;
            opacity: 0;
            background-color: #1a1a1a;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: top right;
            transition:
                transform 0.4s,
                opacity 0.3s;
        }

        .cs-ul {
            margin: 0;
            /* 28px - 40px */
            padding: (48/16rem) clamp(1.75rem, 3vw, 2.5rem) (32/16rem)
                (70/16rem);
            width: auto;
            min-width: 40%;
            height: 65vh;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-end;
            gap: (20/16rem);
        }

        .cs-li {
            text-align: right;
            list-style: none;
            width: 100%;
            margin-right: 0;
            /* transition from these values */
            transform: translateX(-2.5rem);
            opacity: 0;
            transition:
                transform 0.6s,
                opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;

            &:before {
                /* active state underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: none;
                bottom: (-2/16rem);
                left: 0;
            }

            &.cs-active {
                color: var(--secondary);
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    body {
        &.scroll {
            #cs-navigation {
                &:after {
                    height: 100%;
                }
            }
        }
    }

    #cs-navigation {
        width: 100%;
        padding: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        border: 1px solid #484848;
        position: fixed;
        z-index: 10000;

        &:after {
            /* on scroll overlay */
            content: "";
            width: 100%;
            height: 0%;
            background: #1a1a1a;
            opacity: 0.8;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
            transition:
                height 0.3s,
                opacity 0.3s;
        }

        .cs-container {
            width: 100%;
            /* same height as the cs-ul-wrapper */
            height: (93/16rem);
            max-width: (1280/16rem);
            margin: auto;
            padding: 0 (16/16rem);
            /* prevents padding from affectin gheight */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: (24/16rem);
            position: relative;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: (197/16rem);
            height: (60/16rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-ul-wrapper {
            /* absolutely positioned to be dead center */
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: (36/16rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 0.6vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: -2px;
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--secondary);
                &:before {
                    width: 100%;
                }
            }

            &.cs-active {
                color: var(--secondary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #1a1a1a;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-nav-button {
            line-height: (46/16rem);
        }
    }
}

                                
                                
                                